.ab {
    width:100%;
    overflow: hidden;
    background-color: #333;
    float:left;
    position: relative;;
    border-bottom: 2px;
}
.imga {
    float:left;
    width: 130px;

}
html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
ul{
    list-style-type: none;
}

#u5, #u6 {
    float:right;
}

a { color: inherit; } 

li {
    float: left;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin:2%;
  }
  #head {
    background-color: black;
    padding: 5%;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  .slides_container div { 
    width: 1280px;
    text-align: center;
    height:50%
  } 
  input {
    border: 1px solid #cccccc;
    padding:8px;
}

button {
    cursor:pointer;
    border:1px solid #888888;
    background: #888888;
    color: white;
    padding:8px;
}
.main-content{
    flex-grow: 1;
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 30px auto 100px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 20%;
}